*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: darkslategray;
}
section {
    border-top: 1px solid #ccc;
    padding: 24px;
}
p{
    margin: 5px;
}
.contain {
    background: #fff;
    margin: 5% 10%;
    width: auto;
    border-radius: 4px;
    padding: 20px;
}
.bios {
    padding: 24px;
}
.perfil-img {
    background: url('https://avatars1.githubusercontent.com/u/33238294?s=460&v=4');
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.obj {
    
}
.exp {

}
.topic{
    font-weight: bold;
}
.title {
    margin: 5px;
    font-style: italic;
}
.logo{
    padding: 05px;
    height: 50px;
}